@model recipe_planner_web.Models.Recipe

@{
    ViewData["Title"] = "Create Recipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ingredientsList = ViewData["Ingredients"] as List<Ingredient>;
    var recipeName = ViewData["RecipeName"] as string;
    var recipeDescription = ViewData["RecipeDescription"] as string;


}

<div class="container">
    <h1>Create Recipe</h1>
    <hr />
    @using (Html.BeginForm("CreateRecipe", "Recipe"))
    {

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">Name</label>
            @{
                if (!String.IsNullOrEmpty(recipeName))
                {
                    <input name="Name" class="form-control" placeholder="Recipe's name" value="@recipeName" required />
                }
                else
                {
                    <input name="Name" class="form-control" placeholder="Recipe's name" required />
                }
            }


        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label">Description</label>
            @{
                if (!String.IsNullOrEmpty(recipeDescription))
                {
                    <textarea id="myTextArea" name="Description" class="form-control" placeholder="Recipe's description" required>@recipeDescription</textarea>
                }
                else
                {
                    <textarea id="myTextArea" name="Description" class="form-control" placeholder="Recipe's description" required></textarea>
                }
            }


        </div>
        <div class="row text-center justify-content-md-center">
            <div class="col">
                <input id="new-board-btn" type="submit" value="Save" class="btn btn-primary text-center btn-lg w-100" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Save Name&Description" />
            </div>
            <div class="col">
                <a id="new-board-btn" class="btn btn-primary btn-lg text-center w-100" href="@Url.Action("AddIngredient", "Recipe")">Add/Modify ingredients</a>
            </div>
            <div class="col">
                @{
                    if (String.IsNullOrEmpty(recipeDescription) || String.IsNullOrEmpty(recipeName) || !ingredientsList.Any())
                    {
                        <button id="new-board-btn" type="button" class="btn btn-primary text-center btn-lg w-100 disabled"
                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Please fill all fields and add ingredients">
                            Create Recipe
                        </button>

                    }
                    else
                    {
                        <a asp-controller="Recipe" asp-action="Summary" id="new-board-btn" type="button" class="btn btn-primary text-center btn-lg w-100">Create Recipe</a>
                    }
                }
            </div>

        </div>


        <br />


        <table class="table caption-bottom">
            <caption class="text-center">Ingredients</caption>
            <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Name</th>
                    <th scope="col" class="text-center">Quantity</th>
                    <th scope="col" class="text-center">Unit</th>

                </tr>
            </thead>
            <tbody>
                @{
                    if (ingredientsList.Count != 0)
                    {



                        for (int i = 0; i < ingredientsList.Count; i++)
                        {
                            <tr class="text-center">
                                <th class="text-center" scope="row">@(i+1)</th>
                                <td>@ingredientsList[i].Name</td>
                                <td>@ingredientsList[i].Quantity</td>
                                <td>@ingredientsList[i].Unit</td>
                            </tr>
                        }
                    }

                }

            </tbody>
        </table>






























        @*
            <br />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>*@


    }

    <br />
    <div>
        <a asp-controller="Recipe" asp-action="BackToList">Back to List</a>
    </div>
</div>
