@model recipe_planner_web.Models.Recipe

@{
    ViewData["Title"] = "Edit Ingredients";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ingredientsList = ViewData["IngredientsToEdit"] as List<Ingredient>;
    var ID = ViewData["ID"];
}


<div class="container">
    <h1>Edit ingredients</h1>
    <hr />
    @using (Html.BeginForm("EditIngredient", "Recipe", new { id = @ID }))
    {
        <div class="text-center">
            <div class="row  text-center">
                <div class="col">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input type="text" name="ingredientName" class="form-control" placeholder="Ingredient's name" required>

                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="control-label">Quantity</label>
                        <input type="number" min="0.01" step="0.01" name="ingredientQuantity" class="form-control" placeholder="Ingredient's quantity" required>

                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label class="control-label">Unit</label>
                        <input type="text" name="ingredientUnit" class="form-control" placeholder="Ingredient's unit" required>

                    </div>
                </div>

            </div>
            <input type="submit" value="Add" class="btn btn-primary  text-center btn-block" />

        </div>
    }

    <br>
    <table class="table caption-bottom">
        <caption class="text-center">Ingredients</caption>
        <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Quantity</th>
                <th scope="col" class="text-center">Unit</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (ingredientsList.Count != 0)
                {
                    for (int i = 0; i < ingredientsList.Count; i++)
                    {
                        <tr class="text-center">
                            <th class="text-center" scope="row">@(i+1)</th>
                            <td>@ingredientsList[i].Name</td>
                            <td>@ingredientsList[i].Quantity</td>
                            <td>@ingredientsList[i].Unit</td>
                            @using (Html.BeginForm("EditDeleteIngredientFromList", "Recipe", new { id = @ID }))
                            {
                                <td align="center">
                                    <button type="submit" class="btn btn-danger text-center" name="valueToDelete" value="@i">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                        </svg> Remove
                                    </button>
                                </td>
                            }
                        </tr>
                    }
                }

            }
        </tbody>
    </table>

    <br />
    <div>
        <a href="@Url.Action("Edit","Recipe", new { Id = @ID })">Back</a>
    </div>

</div>
