@model recipe_planner_web.Models.Recipe

@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ingredientsList = ViewData["Ingredients"] as List<Ingredient>;
    var recipeName = ViewData["RecipeName"] as string;
    var recipeDescription = ViewData["RecipeDescription"] as string;
}
<div class="container">
    <h1>Summary</h1>
    <hr />
    <div class="form-group">
        <label asp-for="recipe_name" class="control-label">Name</label>
        @{
            if (!String.IsNullOrEmpty(recipeName))
            {
                <input name="Name" class="form-control" placeholder="Recipe's name" value="@recipeName" readonly />
            }
        }
        <br />
    </div>
        <div class="form-group">
            <label asp-for="recipe_description" class="control-label">Description</label>
            @{
                if (!String.IsNullOrEmpty(recipeDescription))
                {
                    <textarea id="myTextArea" name="Description" class="form-control" placeholder="Recipe's description" readonly>@recipeDescription</textarea>
                }
            }
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Name</th>
                    <th scope="col" class="text-center">Quantity</th>
                    <th scope="col" class="text-center">Unit</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (ingredientsList.Count() != 0)
                    {
                        for (int i = 0; i < ingredientsList.Count; i++)
                        {
                            <tr class="text-center">
                                <th class="text-center" scope="row">@(i+1)</th>
                                <td>@ingredientsList[i].Name</td>
                                <td>@ingredientsList[i].Quantity</td>
                                <td>@ingredientsList[i].Unit</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        <hr />
        <div class="row justify-content-center">
            <div class="btn-group btn-group-lg d-flex btn-block" role="group" aria-label="Basic example">
                <a asp-controller="Recipe" asp-action="BackToList" class="btn btn-danger w-100"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-frown-fill" viewBox="0 0 16 16">
                                                                                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm-2.715 5.933a.5.5 0 0 1-.183-.683A4.498 4.498 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 0 1-.866.5A3.498 3.498 0 0 0 8 10.5a3.498 3.498 0 0 0-3.032 1.75.5.5 0 0 1-.683.183zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z" />
                                                                                                    </svg> Cancel</a>
                <a asp-controller="Recipe" asp-action="AddRecipeToList" class="btn btn-primary w-100"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile-fill" viewBox="0 0 16 16">
                                                                                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zM4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z" />
                                                                                                    </svg> Create</a>
            </div>
        </div>
        <br />
    <div>
        <a asp-action="Create">Back</a>
    </div>
</div>